*{margin:0;padding:0;}
body ul{
  list-style: none;
}
.oc-footer{
  clear: both;
  width:1200px;
  margin:0 auto ;
}
.oc-footer ul{
    font-size:14px;
    color:#828282;
    float:left;
    margin-right:60px;
    }
    .oc-footer li{
      margin-bottom:10px;
    }
    .of-directory{
      font-size:17px;
      color:#333;
    }
    .of-cp-content{
      color:#828282;
      font-size:13px;
      padding-top:50px;
      border-top:1px solid black;
      clear: both;
    }
    .of-serv-oppo{
      width:300px;
      float: right;
    }
    /*ul li字体颜色及大小*/
    .oc-iconfont-ooo{
      font-size:24px;
      clear: both;
      position: relative;
      left: 25px; 

    }
    .of-serv-tel{
      color: #828282;
      font-size:14px;
      position: relative;
      left: 80px; 
    }
   .of-service a{
     display:inline-block;
   }
   /*底部标志 支付宝 微博 */
  .of-serv-oppo img{
     vertical-align: middle;
   }