*{margin:0;padding:0;}
body{
  font-family: "方正悠黑 508R W", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial;
}
body a{
    text-decoration: none;
    color:black;
}
body ul{
  list-style: none;
  float: left;
}
.f1{
  position: relative;
}
.a1{
  margin:-42px 252px;
}
.b1{
  position: relative;
  top:12px;
}
.b3{
float: left;
margin:12px 100px;;
}
.a1 li{
  float: left;
  margin:20px;
  padding-right:18px;
}
.a2{
  position: absolute;
  background: #ddd;
  width:100%;
  height:300px;
  top:65px;
  margin-left:-50%;
  left:50%;
}
.a2>div{
  float: left;
}
.a2>.b5>div{
  float: left;
  text-align: center;
}
.b4 img{
  width:370px;
  height:282px;
}
.b5 img{
  width:100px;
  background:#fff;
  float:left;
  margin-left:10px;
}
.a1>.fc1>li{
  display:inline-block;
  margin-top:0px;
}
.foot{
  width:100%;
  height:500px;
}
/*轮播图*/
.f2{
  width:100%;
  height:750px;
}
.f2>div:first-child{
  background-image: url(public/img/index/carousel/header-01.jpg)
}
.f2>div:nth-child(2){
  background-image:url(public/img/index/carousel/header-02.jpg)
}
/*内部图*/
.a4{
float:right;
}
.a4 div{
float:right;
width:50%;
}
.a4 img{
width:100%;
height:300px;
}
